
ol{
    list-style: none;
    padding: 0;
}

form textarea {
    height: 150px;
}

.btn-primary:focus {
    background-color: #ad4777;
    outline-color: #9e064e;
}

.btn-group-vertical[data-toggle="buttons"] label{
    display: block;
    width: inherit;     
}

.btn-back-button {
    float: left;
}

.btn-submit{
    min-width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.3em; 
}

label {
    font-size: 1.1em;
    margin-bottom: 8px;
}

label.btn{
    margin-bottom: 0;      
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #5f5f5f;    
    display: inline;
}

label.radio-button {
    cursor: pointer;
}

label.radio-button input[type="radio"] {
    display: none;
}

label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #c51267;    
    display: inline;
}

label:hover input[type="radio"] ~ i.fa {
    color: #c51267;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #5f5f5f;    
    display: inline;
    vertical-align: sub;
}

label input[type="checkbox"] ~ i.fa.fa-check-square-o,
label.btn input[type="checkbox"] {
    display: none;
}

label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}

label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o {
    color: #c51267;    
    display: inline;
    vertical-align: sub;
}

label:hover input[type="checkbox"] ~ i.fa {
    color: #c51267;
}

.checkbox-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.checkbox-group label:hover {
    color: #c51267;
    cursor: pointer;
}

.checkbox-group label:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #c51267;
}

.checkbox-group label span {
    font-size: 1.5em ; 
}

:invalid {
    box-shadow: none; /* FF */
    outline: 0;       /* IE 10 */
}

.checkbox-group label input[type="checkbox"]:checked ~ span {
    color: #c51267;    
}

.checkbox-group label input[disabled] ~ span,
.checkbox-group label:hover input[disabled] ~ span ,
.checkbox-group label input[disabled] ~ i.fa,
.checkbox-group label:hover input[disabled] ~ i.fa {
    color:#aaa;
}

h6.info-input {
    font-size: 14px;
}

.checkbox-group label {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
    background: none;
    outline: none;
    box-shadow: none;
    border: 0px solid 
    #5f5f5f;
    border-radius: 3px;
    color: #5f5f5f;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: 'OpenSans-Semibold',Arial,sans-serif;
}

.checkbox-group label input {
    position: absolute;
    z-index: -1;
    filter: alpha(opacity=0);
    opacity: 0;
}

.checkbox-group label.list-inline {
    display: inline-block;
    width: auto;
}

.ng-valid[required], 
.ng-valid.required,
.checkbox-group-themes.valid  {
    border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form),
.checkbox-group-themes {
    border-left: 5px solid #a94442; /* red */
}

@media (max-width: 767px) {
    .btn-submit{
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;        
    }    
}

.small-map {
    height: 350px;
}

.app-modal-header {
    text-align: center;
    color: #c51267;
}
